<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker *ngFor="let lugar of lugares" [latitude]="lugar.lat" [longitude]="lugar.lng"></agm-marker>
</agm-map>

<hr /> 
<div id="cuadrado" [@contenedorAnimable] ='state' (@contenedorAnimable.start)='animacionInicial($event)' (@contenedorAnimable.done)='animacionFinal($event)'></div>
<a class="btn btn-secondary" (click)="animar()">Animar</a>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>lugares cercanos</h2>
      <a class="btn btn-primary" routerLink="crear/new">Crear Nuevo Negocio</a>
      <ul class="list-group">
        <ng-container *ngFor="let lugar of lugares">
            <li class="list-group-item">
                <a routerLink="crear/{{lugar.id}}"><h5>{{lugar.nombre}}</h5></a>
              <br /> 
              <small>Creado: {{ lugar.id }}</small>
              <br />
              <p [innerHtml]="lugar.description | linkyfystr"></p>
            </li>
        </ng-container>
      </ul>
    </div>
    <div class="col-md-4" [@contenedorAnimable] ='state'>
      <h2>lugares destacados</h2>
      <ng-container *ngFor="let lugar of lugares">
        <div class="bg-danger padding"  *ngIf="lugar.plan == 'pagado'">
            <a routerLink="crear/{{lugar.id}}"><h5>{{lugar.nombre}}</h5></a>
          <br /> 
          <p [innerHtml]="lugar.description | linkyfystr"></p>
        </div>
    </ng-container>
    </div>
  </div>
</div>