<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" href="#">PlatziSquare!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/lugares">lugares <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/detalle">detalle</a>
      </div>
    </div>
  </nav>
<!-- <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" navbar-toggle collapsed dta-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="sr-only">Toogle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">PLATZISQUARE</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav ">
        <li class="active"><a href="#">inicio <span class="sr-only">(current)</span></a></li>
        <li><a class="nav-link" href="#">Contacto</a></li>
      </ul>
    </div>
  </div>
</nav> -->
<router-outlet></router-outlet>

<!-- 
<ng-container *ngFor="let lugar of lugares; let i = index" [ngSwitch]="lugar.cercania">
    <a><li class="list-group list-group-flush" appContarClicks [ngStyle]="{color: (lugar.active) ? 'black' : 'gray'}" [ngClass]="{numero_par:(i+1) % 2 !== 0}" [resaltar]="lugar.plan">
      {{lugar.nombre}} -
      <span *ngSwitchCase="1" [ngStyle]="{color: 'green'}">Muy Cercano</span>
      <span *ngSwitchCase="2" [ngStyle]="{color: 'black'}">Cercano</span>
      <span *ngSwitchCase="3" [ngStyle]="{color: 'red'}">Lejano</span>
  </li>
</a> 
</ng-container> -->